@import url(../style.css);
body {
    background: url('../img/Patas.svg') no-repeat top right, url('../img/Forma\ 1.svg') no-repeat, url('../img/Forma\ 3.svg') no-repeat bottom left;
    background-color: var(--branco);
}
.container {
    text-align: center;
    padding: 1rem 0 0 1rem;
}
.logoprincipal-azul {
    padding: 3rem 0rem 2rem 1rem;
}
h1 {
    text-align: center;
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 18px;
    line-height: 21px;
    padding-left: 2rem;
}
.conteudo-principal {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-style: normal;
    line-height: 100%;
    padding: 1em 1em 0 3em;
    text-align: justify;
    text-indent: 15px;
    vertical-align: center;
}
form {
    padding-left: 1em;
}
.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}
.flex-item  {
    padding: 0.6em 0 0.5em 0;
}
label {
    color: var(--cinza-escuro);
    font-size: 24px;
    line-height: 24px;
    vertical-align: center;
}
input {
    border: none;
    background-color: var(--cinza-claro);
    border-radius: 6px;
    font-size: 16px;
    padding: 1em 1em 1em 1em;
    text-align: center;
    width: 80%;
}
/* .input {
    margin-right: 2rem;
} */
.botao {
    /* estilo do botão */
    background-color: var(--vermelho-claro);
    border: 1px solid var(--vermelho-claro);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    /* texto do botão */
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600px;
    padding: 11px 0 11px 7px;
    text-decoration: none;
    /* tamanho do botão */
    height: 40px;
    max-width: 200px;
    width: 140px;
}
.botao:hover {
    background-color: var(--vermelho-escuro);
}
.botao-cadastro {
    padding-left: 2rem;
    text-align: center;
}

footer {
    background-color: var(--verde-agua);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}