@import url(../styles.css);

body {
    background: url("../img/media360/Forma\ 1.svg") no-repeat;
    background-color: var(--branco);
}

.perfil {
    padding: 0 0 1.4em 7.7em;
}

.titulo {
    margin-left: 2em;
    padding: 7rem 4rem 2rem 4rem;
}

p {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.caixa {
    padding: 0 0 1rem 1rem;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.painel {
    background-color: var(--cinza-claro__fundo);
    padding: 1em 1em 1em 1em;
}

.texto_titulo {
    color: var(--azul);
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.texto {
    color: var(--cinza-escuro);
    font-family: var(--fonte-principal);
    padding-left: 0.5em;
}

.texto_corpo {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 2em;
}

.texto_footer {
    font-size: 13px;
    line-height: 20px;
}

.responsavel{
    display: grid;
    grid-template-columns: 15% 85%;
    font-size: 10px;
    line-height: 20px;
    padding-top: 0.8em;
}

footer {
    background-color: var(--verde-agua);
    width: 100%;
    position: static;
    bottom: 0;
    z-index: 1;
}