@import url(../styles.css);

body {
    background: url("../img/media360/Forma\ 1.svg") no-repeat, url("../img/media360/Forma\ 2.svg") no-repeat right;
    background-color: var(--azul);
}

.container {
    text-align: center;
}

.logoprincipal {
    padding: 4.6rem 0rem 2rem 2rem;
}

.conteudo-principal {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    padding: 1em 4em 1em 5.8em;
    text-align: center;
    text-indent: 15px;
}

h1 {
    text-align: center;
    color: var(--branco);
    font-family: var(--fonte-boas-vindas);
    font-size: 26px;
    line-height: 48px;
    padding-left: 2rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

.flex-item {
    padding: 0 0 0 2rem;
}

.botao__login {
    margin-bottom: 1rem;
}

.botao__cadastro {
    margin-bottom: 1rem;
}

.ilustracao1 {
    padding-bottom: 3.5rem;
}

footer {
    background-color: var(--verde-agua);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

@media screen and (min-width: 768px){
    body {
        background: url("../img/media768/backgmaior1.svg") no-repeat, url("../img/media768/backgmaior2.svg") no-repeat, url("../img/media768/Forma\ 2.svg") no-repeat right;
        background-color: var(--azul);
    }

    .logoprincipal {
        padding: 6rem 0rem 0 2rem;
        height: 70px;
    }

    .conteudo-principal {
        padding: 1rem 0 0 0;
    }

    .ilustracao1 {
        padding-top: 0rem;
        height: 450px;
    }

    .conteudo-principal {
        color: var(--branco);
        font-family: var(--fonte-principal);
        font-size: 24px;
        font-style: normal;
        line-height: 24px;
        padding: 0 4em 1em 5.8em;
        text-align: center;
        text-indent: 15px;
    }
    
    h1 {
        text-align: center;
        color: var(--branco);
        font-family: var(--fonte-boas-vindas);
        font-size: 32px;
        line-height: 96px;
        padding-left: 4rem;
    }
    
}

@media (min-width: 1440px){
    .logo_cabecalho {
        width: 150px;
        padding: 4em 0 1.6em 8em;
    }

    .logoprincipal {
        padding: 0rem 0rem 0 2rem;
        height: 70px;
    }

    .conteudo-principal {
        padding-bottom: 2rem;
    }

    .ilustracao1 {
        padding-bottom: 1rem;
        height: 450px;
    }
    
}

