body {
    background-color: var(--azul);
    background-image: url(../img/Forma\ 1.svg);
    background-repeat: no-repeat;
}

.container {
    padding: 3rem 0 2rem 2rem;
}

.mensagens {
    padding-left: 2rem;
}

.logoprincipal {
    position: relative;
    padding: 2rem 0 2.5rem 25rem;
}

h1 {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    position: relative;
    text-align: center;
}

.principal {
    color: var(--branco);
    font-family: var(--fonte-principal);
    position: relative;
    text-align: center;
}

.ilustracao1 {
    padding: 2.5rem 25rem 0 25rem;
}

footer {
    background-color: var(--verde-agua);
}

.rodape {
    color: var(--branco);
    font-family: var(--fonte-principal);
    position: relative;
    text-align: center;
}

