body {
    background: url('../img/media360/Patas.svg') no-repeat top right, url('../img/media360/Forma\ 1.svg') no-repeat;
    background-color: var(--branco);
    height: 86vh;
}

.container {
    text-align: center;
    padding: 1rem 0 0 1rem;
}

.logoprincipal-azul {
    width: 52%;
    max-width: 220px;
    padding: 7rem 0 1rem 0;
}

h1 {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 26px;
    padding: 1rem 0 2rem 0;
    text-align: center;
}

.alinhamento {
    margin-top: 3rem;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
}

.flex-item  {
    padding: 1em 0.5em 0.5em 0;
}

form {
    padding-left: 1em;
}

label {
    color: var(--cinza-escuro);
    font-size: 24px;
    line-height: 24px;
    vertical-align: center;
}

input {
    border: none;
    background-color: var(--cinza-claro);
    border-radius: 6px;
    font-size: 16px;
    padding: 1em 1em 1em 2em;
    text-align: center;
    width: 80%;
}

.input {
    margin-right: 1.5rem;
}

.esqueci-senha {
    color: var(--vermelho-claro);
    font-size: 16px;
    line-height: 24px;
    padding: 0.5rem 0 2rem 0.8rem;
    text-decoration: underline;
}

.botoes {
    padding: 1.9rem 0 3rem 0;
    text-align: center;
}

button {
    /* estilo do botão */
    background-color: var(--vermelho-claro);
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
}

button:hover {
    background-color: var(--salmao);
}

.entrar {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600px;
    text-decoration: none;
}

@media screen and (min-width: 768px){
    body {
        background: url('../img/media768/Patas.svg') no-repeat top right, url("../img/media768/backgmaior1.svg") no-repeat, url("../img/media768/backgmaior2.svg") no-repeat, url("../img/media768/Forma\ 2.svg") no-repeat right;
    }

    .logoprincipal-azul {
        padding: 8rem 0 1rem 0;
    }

    h1 {
        font-size: 26px;
    }

    label {
        font-size: 22px;
        line-height: 24px;
    }

    input {
        font-size: 16px;
        padding: 1em 0em 1em 0em;
        text-align: center;
        width: 50%;
    }

    .input {
        margin-right: 0rem;
    }
    
    .esqueci-senha {
        font-size: 18px;
    }

    .caixa_botoes {
        padding-bottom: 12rem;
    }

    button {
        /* estilo do botão */
        border-radius: 16px;
    }

    .entrar {
        font-size: 18px;
    } 
    
}
