@import url(../styles.css);

body {
    background: url('../img/media360/Patas.svg') no-repeat top right, url('../img/media360/Forma\ 1.svg') no-repeat, url('../img/media360/Forma\ 3.svg') no-repeat bottom left;
    background-color: var(--branco);
    height: 86vh;
}

.container {
    text-align: center;
    padding: 1rem 0 0 1rem;
}

.logoprincipal-azul {
    padding: 3rem 0rem 2rem 1rem;
}

h1 {
    text-align: center;
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 18px;
    /* line-height: 50%; */
    padding-left: 2rem;
}

form {
    padding-left: 1em;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
}

.flex-item  {
    padding: 1em 0.5em 0.5em 0;
}

label {
    color: var(--cinza-escuro);
    font-size: 24px;
    line-height: 24px;
    vertical-align: center;
}

input {
    border: none;
    background-color: var(--cinza-claro);
    border-radius: 6px;
    font-size: 16px;
    padding: 1em 1em 1em 2em;
    text-align: center;
    width: 80%;
}

.input {
    margin-right: 1.5rem;
}

.esqueci-senha {
    color: var(--vermelho-claro);
    font-size: 16px;
    line-height: 24px;
    padding: 0.5rem 0 2rem 0.8rem;
    text-decoration: underline;

}

.botao {
    /* estilo do botão */
    border-radius: 17px;

    /* texto do botão */
    font-size: 21px;
    padding: 20px 0px 40px 60px;

    /* tamanho do botão */
    height: 20px;
    max-width: 120px;
    width: 320px;
}

.botao-entrar {
    padding-left: 1.8rem;
    text-align: center;
}

footer {
    background-color: var(--verde-agua);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

@media screen and (min-width: 768px){
    body {
        background: url('../img/media768/Patas.svg') no-repeat top right, url("../img/media768/backgmaior1.svg") no-repeat, url("../img/media768/backgmaior2.svg") no-repeat, url("../img/media768/Forma\ 2.svg") no-repeat right;

    }

    .logoprincipal-azul {
        padding-top: 5rem;
        height: 70px;
    }

    h1 {
        font-size: 24px;
        line-height: 21px;
        padding: 0rem 2rem 1rem 4rem;
    }

    label {
        font-size: 30px;
        line-height: 24px;
    }

    input {
        font-size: 24px;
        padding: 1em 0em 1em 0em;
        text-align: center;
        width: 50%;
    }

    .input {
        margin-right: 0rem;
    }
    
    .esqueci-senha {
        font-size: 22px;
    }
    
    .botao {
        /* texto do botão */
        font-size: 28px;
        padding: 18px 0px 40px 60px;
    
        /* tamanho do botão */
        height: 0px;
        max-width: 200px;
        width: 320px;
    }
    
    .botao-posicionamento {
        padding: 1rem 5rem 3rem 18rem;
    }
    
    .botao-entrar {
        padding-left: 4rem;
        text-align: center;
    }
    
    
}

@media (min-width: 1440px){
    .botao-entrar {
        padding-left: 3.8rem;
        text-align: center;
    }
}
