:root {
    --azul:#3772FF;
    --branco: #ffffff;
    --cinza-claro: #E5E5E5;
    --verde-agua: #36D6AD;
    --vermelho-claro: #FC7071;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}
