:root {
    --azul:#3772FF;
    --branco: #ffffff;
    --cinza-claro: #E5E5E5;
    --cinza-escuro: #FF9D9E;
    --verde-agua: #36D6AD;
    --vermelho-claro: #FC7071;
    --salmao: #FF9D9E;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-boas-vindas: 'IBM Plex Sans', sans-serif;
}

.body {
    background: url("./img/Forma\ 1.svg") no-repeat, url("./img/Forma\ 2.svg") no-repeat right;
    height: 100vh;
}

.home {
    padding: 2.5em 2em 2em 4em;
}

.mensagens {
    padding: 2.5em 0 2em 1em;
}

.botao {
    border: 1px solid var(--vermelho-claro);
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--vermelho-claro);
    color: var(--branco);
    display: flex;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

footer {
    background-color: var(--verde-agua);
    align-items: center;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    padding: 2em 4em 2em 4em;
    text-align: center;
}